<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
  <ul>
    {% for product in products %}
      <li>
        {{ product.title }} (ID: {{ product.id }}) <br>
        <a href="{% url 'update' product.id %}">Update</a>
        <a href="{% url 'delete' product.id %}">Delete</a>
        <br>
      </li>
    {% empty %}
      <p>No products found.</p>
    {% endfor %}
  </ul>
  <a href="{% url 'create' %}">Create New Product</a>
</body>
</html>